###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Iso Adventure/Logs/AssetImportWorker0-prev.log
Iso Adventure/Logs/AssetImportWorker0-prev.log
Iso Adventure/Logs/shadercompiler-AssetImportWorker0.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Iso Adventure/ProjectSettings/Packages/com.unity.probuilder/Settings.json
Iso Adventure/ProjectSettings/Packages/com.unity.probuilder/Settings.json
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Iso Adventure/Logs/AssetImportWorker0.log
Iso Adventure/Logs/AssetImportWorker0-prev.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Iso Adventure/Logs/shadercompiler-UnityShaderCompiler.exe7.log
*.log
